/* Header Height: 50px */

html, body {   /* The html and body elements cannot have any padding or margin. */
  height: 100%;
}

#wrap { /* Wrapper for page content to push down footer */
  min-height: 100%;
  height: auto;
}

#wrap > .container {
  padding: 60px 15px 20px;
}

code {
  font-size: 80%;
}

.carousel {
    height: auto;
}

.carousel .item {
  top: 50px; /* Accounts for header */
  height: 100%;
}
.carousel-inner > .item > .inner-item > img {
  margin: 0 auto;
}

.inner-item {
 text-align: center;
}

.carousel-caption {
  z-index: 10;
}